// @styles
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/typography';

.scoreboard {
    width: 60%;
    display: flex;
    margin: rem(10px) 0;
    justify-content: space-between;
    align-items: center;
    background-color: $color__dark-purple;
    border-radius: rem(5px);
}

.scoreboard__info {
    color: $color__white;
    padding: 0 rem(10px);
}

/*---------------- @media -------------------*/

@media screen and (max-width: 959.95px) {
    .scoreboard {
        width: 95%;
    }
  }